body {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 21px;
}

header {
  box-sizing: border-box;
  width: 1920px;
  height: 115px;
  padding: 35px 21px;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.nav {
  width: fit-content;
}

.nav-list {
  display: flex;
  height: 100%;
  gap: 9px;
}

.nav-list li {
  display: flex;
  align-items: center;
}

.nav-list a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 10px;
  cursor: pointer;
}

.nav-list li.active {
  position: relative;
}

.nav-list li.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 53px;
  height: 2px;
  background-color: rgba(235, 87, 87, 1);
}

.search-item {
  padding: 0 10px;
  display: flex;
}

.right-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.right-menu-left {
  display: flex;
  gap: 15px;
}

.right-menu-right {
  display: flex;
  gap: 6px;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.right-menu-left-item,
.right-menu-right-item,
.shopping-cart-item,
.arrow-left,
.arrow-right,
.slider-navBox {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 21px;
  gap: 21px;
}

.hero {
  width: 1878px;
  height: 800px;
  background-image: url('../bejesus/images/Background-hero.png');
  display: grid;
  grid-template-columns: 1fr;
}

.hero-block,
.hero-slider {
  grid-area: 1 / 1;
}

.hero-block {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 1454px;
  height: 708px;
  margin-top: 46px;
  margin-left: 212px;
  align-self: start;
}

.hero-slider {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: flex;
  padding-left: 32px;
  justify-content: space-between;
  align-self: end;
}

.hero-left {
  margin-top: 136px;
  width: 504px;
  height: 417px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 86px;
  line-height: 96px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.hero-left-text {
  display: grid;
  grid-template-columns: 1fr;
}

.border-element,
.border-text {
  grid-area: 1 / 1;
  max-width: 100%;
  max-height: 100%;
}

.border-element {
  justify-self: start;
}

.border-text {
  margin-top: 25px;
  justify-self: end;
}

.border-element {
  width: 500px;
  height: 100px;
  border-right: 2px solid rgba(0, 0, 0, 1);
  border-top: 2px solid rgba(0, 0, 0, 1);
  border-left: none;
  border-bottom: none;
}

.hero-left span.hero-percentage {
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 1);
}

.button {
  display: inline-flex;
  width: 176px;
  height: 59px;
  border: 2px solid rgba(0, 0, 0, 1);
  background: transparent;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.5px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.hero-right {
  width: 804px;
  height: 708px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.hero-right-left,
.hero-right-right {
  display: flex;
  grid-area: 1 / 1;
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(10px 10px 24px rgba(0, 0, 0, 0.25));
}

.hero-right-left {
  justify-self: start;
}

.hero-right-right {
  justify-self: end;
}

.arrow {
  display: flex;
  justify-content: space-between;
  width: 103px;
}

.slider-navBoxes {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-navBox {
  width: 18px;
  height: 18px;
  border-width: 1px;
  border: 1px solid rgba(130, 130, 130, 1);
}

.slider-navBox.active {
  width: 22px;
  height: 22px;
  background: rgba(0, 0, 0, 1);
}

.brands-wrapper {
  width: 1879px;
  height: 207px;
  display: grid;
  grid-template-columns: 1fr;
}

.brands-wrapper-tittle,
.brands-boxes {
  grid-area: 1 / 1;
}

.brands-wrapper-tittle {
  width: 247px;
  height: 48px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 1);
  padding: 12px 32px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  z-index: 1;
  justify-self: center;
}

.brands-boxes {
  margin-top: 24px;
  box-sizing: border-box;
  width: 1879px;
  height: 183px;
  border: 2px solid rgba(196, 196, 196, 1);
  border-width: 2px;
  padding: 21px;
  display: flex;
  gap: 32px;
  justify-self: end;
}

.brands-box {
  width: 235px;
  height: 141px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-box.burberry {
  background: rgba(240, 242, 242, 1);
}

.promo-wrapper {
  width: 1879px;
  height: 898px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
}

.promo-right {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url('../bejesus/images/promo-girl-right.png');
  background-size: 924px 898px;
  padding-top: 452px;
  padding-left: 64px;
}

.promo-right-box,
.promo-left-top-box,
.promo-left-bottom-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.promo-right-box {
  width: 363px;
  height: 366px;
}

.promo-tittle {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 96px;
  line-height: 110px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.promo-tittle-left {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.promo-percentage {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 37px;
  color: rgba(0, 0, 0, 1);
}

.promo-left-top-box {
  width: 369px;
  height: 274px;
}

.promo-left-bottom-box {
  width: 299px;
  height: 274px;
}

.promo-left-top {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-image: url('../bejesus/images/promo-girl-left-top.png');
  background-size: 924px 434px;
  padding-top: 80px;
  padding-left: 491px;
}

.promo-left-bottom {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: url('../bejesus/images/promo-girl-left-bottom.png');
  background-size: 924px 434px;
  padding-top: 80px;
  padding-left: 64px;
}

.shop-wrapper {
  width: 1878px;
  height: 1203px;
  display: flex;
  justify-content: space-between;
}

.shop {
  width: 394px;
  border-right: 2px solid rgba(196, 196, 196, 1);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.shop-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
  vertical-align: middle;
  color: rgba(0, 0, 0, 1);
}

.shop-filters-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
}

.standart-checkbox {
  display: none;
}

.filter-checkbox {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(130, 130, 130, 1);
}

.standart-checkbox:checked+.filter-checkbox {
  border: 1px solid rgba(0, 0, 0, 1);
  background: rgba(0, 0, 0, 1);
}

.standart-checkbox:checked+.filter-checkbox::after {
  content: '';
  background-image: url("/bejesus/icons/checkbox-active.svg");
  display: flex;
  width: 7.5px;
  height: 5px;
  margin-top: 3px;
  margin-left: 2px;
}

.filter-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
  text-transform: uppercase;
}

.products {
  width: 1454px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}

.products-wrapper {
  width: 1454px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: start;
  gap: 24px;
}

.product-card {
  width: 344px;
  height: 548px;
  display: flex;
  flex-direction: column;
}

.product-sale {
  position: absolute;
  width: 43px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
}

.product-card-category,
.product-card-tittle,
.product-card-new-price,
.product-card-old-price {
  font-family: 'Oswald', sans-serif;
}

.product-card-category,
.product-card-tittle,
.product-card-price {
  display: flex;
  align-items: center;
}

.product-card-category {
  height: 18px;
  margin-top: 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgb(192, 192, 192);
}

.product-card-tittle {
  height: 27px;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
}

.product-card-price {
  margin-top: 4px;
  height: 33px;
}

.product-card-new-price {
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
}

.product-card-old-price {
  margin-left: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: line-through;
  color: rgba(130, 130, 130, 1);
}

.benefits-wrapper {
  width: 100%;
  height: 100px;
  background: rgba(240, 242, 242, 1);
  display: flex;
}

.benefits-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.benefits-label {
  display: flex;
  align-items: center
}

.benefits-check {
  width: 30px;
  height: 30px;
  background-image: url("/bejesus/icons/Benefits-check.png");
  background-size: 18px 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-text {
  padding-left: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

}

.footer-wrapper {
  width: 1920px;
  height: 410px;
  background: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content {
  margin-top: 64px;
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 16px;
  width: 1875.75px;
  height: 287px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(63, 63, 63, 1)
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-column-tittle {
  font-family: Oswald;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-list li a,
.footer-list-text,
.footer-text-subscribe {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(130, 130, 130, 1);
}

.footer-list li a,
.footer-list-text {
  cursor: pointer;
}

.footer-list li {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-list-tittle {
  font-family: Oswald;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.footer-list-text {
  font-size: 12px;
}

.footer-sn {
  display: flex;
  gap: 12px;
}

.footer-sn-icon {
  color: rgba(255, 255, 255, 1);
}

.footer-sn div {
  display: flex;
  align-items: center;
}

.footer-join-us {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-form-email {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-input {
  padding: 10px 16px;
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 1);
}

.button-subscribe {
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 1);
  font-family: Oswald;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.footer-—Åopyright {
  width: 81px;
  height: 27px;
  margin-left: 21px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 27px;
  letter-spacing: 0%;
  text-transform: uppercase;
}