body {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 21px;
}

header {
  box-sizing: border-box;
  padding: 35px 21px;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.burger-menu {
  display: none;
}

.logo-img {
  width: 93px;
  height: 45px;
}

.nav-list {
  display: flex;
  height: 100%;
  gap: 9px;
}

.nav-list li {
  display: flex;
  align-items: center;
}

.nav-list a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 10px;
  cursor: pointer;
}

.nav-list li.active {
  position: relative;
}

.nav-list li.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 53px;
  height: 2px;
  background-color: rgba(235, 87, 87, 1);
}

.search-item {
  padding: 0 10px;
  display: flex;
}

.right-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.right-menu-left {
  display: flex;
  gap: 15px;
}

.right-menu-right {
  display: flex;
  gap: 6px;
  align-items: center;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.right-menu-left-item,
.right-menu-right-item,
.shopping-cart-item,
.arrow-left,
.arrow-right,
.slider-navBox {
  cursor: pointer;
}

.search-icon-mobile {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 21px;
  gap: 21px;
}

.hero {
  height: 800px;
  background-image: url('../bejesus/images/Background-hero.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.hero-block,
.hero-slider {
  grid-area: 1 / 1;
}

.hero-block {
  display: flex;
  justify-content: space-between;
  margin: 46px 212px;
}

.hero-slider {
  box-sizing: border-box;
  height: 50px;
  display: flex;
  padding-left: 32px;
  justify-content: space-between;
  align-self: end;
}

.hero-left {
  margin-top: 136px;
  width: 504px;
  height: 417px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 86px;
  line-height: 96px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.hero-left-text {
  display: grid;
  grid-template-columns: 1fr;
}

.border-element,
.border-text {
  grid-area: 1 / 1;
  max-width: 100%;
  max-height: 100%;
}

.border-element {
  justify-self: start;
}

.border-text {
  margin-top: 25px;
  justify-self: end;
}

.border-element {
  width: 500px;
  height: 100px;
  border-right: 2px solid rgba(0, 0, 0, 1);
  border-top: 2px solid rgba(0, 0, 0, 1);
  border-left: none;
  border-bottom: none;
}

.hero-left span.hero-percentage {
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 1);
}

.button {
  display: inline-flex;
  width: 176px;
  height: 59px;
  border: 2px solid rgba(0, 0, 0, 1);
  background: transparent;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.5px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.hero-right {
  width: 804px;
  height: 708px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.hero-right-left,
.hero-right-right {
  display: flex;
  grid-area: 1 / 1;
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(10px 10px 24px rgba(0, 0, 0, 0.25));
}

.hero-right-left {
  width: 416px;
  height: 620px;
  justify-self: start;
}

.hero-right-right {
  width: 474px;
  height: 708px;
  justify-self: end;
}

.arrow {
  display: flex;
  justify-content: space-between;
  width: 103px;
}

.slider-navBoxes {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-navBox {
  width: 18px;
  height: 18px;
  border-width: 1px;
  border: 1px solid rgba(130, 130, 130, 1);
}

.slider-navBox.active {
  width: 22px;
  height: 22px;
  background: rgba(0, 0, 0, 1);
}

.brands-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.brands-wrapper-tittle,
.brands-boxes {
  grid-area: 1 / 1;
}

.brands-wrapper-tittle {
  height: 48px;
  display: flex;
  background: rgba(255, 255, 255, 1);
  padding: 12px 32px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  z-index: 1;
  justify-self: center;
}

.brands-boxes {
  margin-top: 24px;
  box-sizing: border-box;
  border: 2px solid rgba(196, 196, 196, 1);
  border-width: 2px;
  padding: 21px;
  display: flex;
  justify-content: space-around;
}

.brands-box {
  width: 235px;
  height: 141px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-box.burberry {
  background: rgba(240, 242, 242, 1);
}

.promo-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.promo-right {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url('../bejesus/images/promo-girl-right.png');
  background-size: cover;
  padding-top: 452px;
  padding-bottom: 106px;
  padding-left: 64px;
  padding-right: 471px;
}

.promo-right-box,
.promo-left-top-box,
.promo-left-bottom-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.promo-tittle {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 96px;
  line-height: 110px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.promo-tittle-left {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.promo-percentage {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 37px;
  color: rgba(0, 0, 0, 1);
}

.promo-left-top {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-image: url('../bejesus/images/promo-girl-left-top.png');
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 491px;
  padding-right: 159px;
}

.promo-left-bottom {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: url('../bejesus/images/promo-girl-left-bottom.png');
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 64px;
  padding-right: 616px;
}

.shop-wrapper {
  display: flex;
  justify-content: space-between;
}

.shop {
  border-right: 2px solid rgba(196, 196, 196, 1);
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
}

.shop-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
  vertical-align: middle;
  color: rgba(0, 0, 0, 1);
}

.shop-filters-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
}

.standart-checkbox {
  opacity: 0;
  width: 10px;
  height: 10px;
  margin: 0;
  cursor: pointer;
}

.filter-checkbox {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(130, 130, 130, 1);
  margin-left: -19px;
}

.standart-checkbox:checked+.filter-checkbox {
  border: 1px solid rgba(0, 0, 0, 1);
  background: rgba(0, 0, 0, 1);
}

.standart-checkbox:checked+.filter-checkbox::after {
  content: '';
  background-image: url("/bejesus/icons/checkbox-active.svg");
  display: flex;
  width: 7.5px;
  height: 5px;
  margin-top: 3px;
  margin-left: 2px;
}

.filter-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
  text-transform: uppercase;
}

.products {
  flex: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 21px;
}

.products-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: start;
  gap: 24px;
}

.product-card {
  width: 344px;
  height: 548px;
  display: flex;
  flex-direction: column;
}

.product-sale {
  position: absolute;
  width: 43px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
}

.product-card-category,
.product-card-tittle,
.product-card-new-price,
.product-card-old-price {
  font-family: 'Oswald', sans-serif;
}

.product-card-category,
.product-card-tittle,
.product-card-price {
  display: flex;
  align-items: center;
}

.product-card-category {
  height: 18px;
  margin-top: 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgb(192, 192, 192);
}

.product-card-tittle {
  height: 27px;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
}

.product-card-price {
  margin-top: 4px;
  height: 33px;
}

.product-card-new-price {
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
}

.product-card-old-price {
  margin-left: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: line-through;
  color: rgba(130, 130, 130, 1);
}

.benefits-wrapper {
  height: 100px;
  background: rgba(240, 242, 242, 1);
  display: flex;
}

.benefits-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.benefits-label {
  display: flex;
  align-items: center
}

.benefits-check {
  width: 30px;
  height: 30px;
  background-image: url("/bejesus/icons/Benefits-check.png");
  background-size: 18px 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-text {
  padding-left: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.footer-wrapper {
  background: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 19px 0 19px;
}

.footer-content {
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(63, 63, 63, 1)
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-column-tittle {
  font-family: Oswald;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-list li a,
.footer-list-text,
.footer-text-subscribe {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(130, 130, 130, 1);
}

.footer-list li a,
.footer-list-text {
  cursor: pointer;
}

.footer-list li {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-list-tittle {
  font-family: Oswald;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.footer-list-text {
  font-size: 12px;
}

.footer-sn {
  display: flex;
  gap: 12px;
}

.footer-sn-icon {
  color: rgba(255, 255, 255, 1);
}

.footer-sn div {
  display: flex;
  align-items: center;
}

.footer-join-us {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-form-email {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-input {
  padding: 10px 16px;
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 1);
}

.button-subscribe {
  height: 40px;
  background-color: rgba(255, 255, 255, 1);
  font-family: Oswald;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.footer-—Åopyright {
  display: flex;
  padding: 16px 21px;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 27px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  header {
    padding: 9px 14px;
    align-items: center;
    position: relative;
  }

  .burger-menu {
    display: flex;
  }

  .right-menu-left,
  .search-favorites-img,
  .shopping-cart,
  .burger-checkbox,
  .nav-list li.active::after,
  .nav-list .search-item {
    display: none;
  }

  .burger-icon {
    width: 29px;
    height: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
  }

  .burger-line {
    width: 21px;
    height: 3px;
    background-color: rgba(255, 255, 255, 1);
    display: block;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .logo-img {
    width: 68px;
    height: 31px;
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    padding: 10px 0;
  }

  header:has(.burger-checkbox:checked) .nav {
    display: block;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
  }

  .nav-list li {
    display: flex;
    justify-content: center;
  }

  .nav-list a {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: center;
    width: 100%;
  }

  .nav-list li.active {
    border-left: 2px solid rgba(235, 87, 87, 1);
  }

  .search-icon-mobile {
    display: block;
  }

  .search-mobile-img {
    width: 20px;
    height: 20px;
  }

  .hero {
    height: 496px;
    background-image: url('../bejesus/images/Background-hero-mobile.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .hero-block {
    margin: 0;
    padding-top: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .hero-left {
    padding-top: 24px;
    order: 2;
    margin-top: 0;
    width: auto;
    height: auto;
    align-items: center;
    gap: 24px;
  }

  .border-element {
    display: none;
  }

  .border-text {
    margin-top: 0;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
  }

  .hero-left span.hero-percentage {
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 0;
  }

  .hero-right {
    order: 1;
    width: 208px;
    height: 207px;
  }

  .hero-right-left {
    width: 123px;
    height: 183px;
  }

  .hero-right-right {
    width: 138px;
    height: 207px;
  }

  .hero-slider {
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
  }

  .slider-navBoxes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .arrow {
    width: 100%;
  }
}